<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap core CSSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>User's list</title>
</head>
<div th:if="${list != null}">
    <h1>User's list</h1>
    <ul>
            <li th:each="item : *{list}" class="list-group-item" th:text="${item}">Item description here...</li>
    </ul>
</div>
<h2>Change role</h2>
<form th:action="@{/userlist.html}" method="post">
    <label for="login">Username</label>:
    <input type="text" id="login" name="login" autofocus="autofocus" />
    <input type="submit" class="btn btn-primary" value="Change to presenter" />
</form>

</body>
</html>