<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Registration page</h1>
<form th:action="@{/register.html}" method="post">
    <label for="name">Username</label>:
    <input type="text" id="name" name="name" autofocus="autofocus" /> <br />
    <label for="email">E-mail</label>:
    <input type="email" id="email" name="email" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Register" />
</form>
</body>
</html>